:root {
  --font-base: "Rubik", Helvetica, Arial, sans-serif;
  --font-mono: "Fira Code", "Consolas", monospace;
}
@supports (font-variation-settings: normal) {
  :root {
    --font-base: "Rubik Variable", Helvetica, Arial, sans-serif;
    --font-mono: "Fira Code Variable", "Consolas", monospace;
  }
}

html[data-theme="dark"] {
  --color-text-base: 234, 237, 243;
  --color-text-muted: 192, 201, 219;
  --color-card: 52, 63, 96;
  --color-card-muted: 138, 51, 2;
  --color-border: 90, 93, 132;

  --color-fill: 25, 26, 37;
  --color-accent: 255, 158, 176;
  --color-accent-hover: 255, 184, 197;
}

#sun-svg,
html[data-theme="dark"] #moon-svg {
  display: none;
}

#moon-svg,
html[data-theme="dark"] #sun-svg {
  display: block;
}

body {
  @apply flex min-h-screen flex-col;

  font-family: var(--font-base);
  font-size: 14pt;
  color: rgb(var(--color-text-base));

  background-color: rgb(var(--color-fill));
  background-image: linear-gradient(
    to right top,
    #191a25,
    #1f202e,
    #262737,
    #2c2e41,
    #33354b
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
}

::selection {
  background: rgba(var(--color-accent), 0.7);
  color: rgb(var(--color-fill));
}

footer {
  @apply mx-auto max-w-5xl px-4;
}

a {
  @apply outline-2 outline-offset-1 !focus-visible:no-underline !focus-visible:outline-dashed inline-block;
}

.prose a {
  @apply text-skin-base hover:text-skin-accent-base decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0;
}

svg {
  @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent-base fill-red;
  fill: rgb(var(--color-text-base));
}

svg:hover {
  fill: rgb(var(--color-accent));
}

svg.icon-tabler {
  @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover: fill-transparent sm:scale-110;
}

.prose {
  @apply text-justify;
}

.prose table td,
.prose table th {
  @apply border-solid border-1 border-skin-line;
}

.prose table th {
  @apply;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-left;
}

/* ===== scrollbar ===== */
html {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-skin-fill;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-skin-card;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-skin-card-muted;
}

.display-none {
  @apply hidden;
}

.focus-outline {
  @apply outline-2 outline-offset-1 outline-skin-fill focus-visible: no-underline focus-visible:outline-dashed;
}

#main-content {
  @apply max-w-5xl mx-auto px-4;
}

.prose * {
  @apply lh-loose!;
}

.prose hr {
  @apply border-solid border-0 border-b-2 mx-25 md:mx-50 border-skin-line;
}
