<section class="">
  <a class="alert" href={"/talk/enterjs-astro-2023"}>
    <h2>
      enterJS Conference 2023
      <i class="i-ph-arrow-right-bold"></i>
    </h2>
    <p>
      During my talk on 22<sup>nd</sup> June, I give insights into the Astro Framework.
      You find my slides and the example project here.
    </p>
  </a>
</section>

<style>
  section {
    @apply my-6 -mb-1;
  }

  h2 {
    @apply inline-block text-2xl font-semibold tracking-wide mb-3;
  }

  .alert {
    @apply block px-6 py-3 text-xl bg-skin-accent-base text-skin-fill rounded-lg;
  }

  .alert:hover {
    @apply bg-skin-accent-hover;
  }

  .alert > div {
    /* @apply background-transparent p-2; */
  }
</style>
