---
import Hr from "@components/Hr.astro"
import LinkButton from "@components/LinkButton.astro"
import RssButton from "@components/media/RssButton.astro"
import Socials from "@components/Socials.astro"

const currentYear = new Date().getFullYear()

export interface Props {
  noMarginTop?: boolean
}

const { noMarginTop = false } = Astro.props
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <div class="footer-upper-line">
      <p>Read as <RssButton /></p>

      <div class="socials">
        <Socials centered />
      </div>
    </div>
    <div class="copyright-wrapper">
      <span
        >Copyright &#169; {currentYear} under <a
          href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a
        ></span
      >
      <span class="separator px-2">&nbsp;|&nbsp;</span>
      <LinkButton href="/legal/">Legal Note</LinkButton>
    </div>
  </div>
</footer>

<style is:global>
  footer {
    @apply w-full text-sm;
  }
  .footer-wrapper {
    @apply flex flex-col py-6 sm:py-4 gap-3 sm:gap-0 items-center sm:items-stretch;
  }

  .footer-wrapper .footer-upper-line {
    @apply flex flex-col sm:flex-row gap-3 sm:gap-0 justify-between items-center;
  }

  .footer-wrapper .socials {
    @apply text-xl;
  }
  .footer-wrapper .link-button {
    @apply p-2 hover:rotate-6;
  }

  .footer-wrapper .socials {
    @apply text-2xl;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply text-sm;
  }
  .separator {
    @apply inline;
  }
</style>
