---
import TimeDisplay from "./TimeDisplay.astro";

interface Props {
  title: string;
  href: string;
  description: string;
  date: Date;
}
const { title, href, description, date } = Astro.props;
---

<li class="my-6">
  <a href={href} class="inline-block text-lg font-medium">
    {
      (
        <h3 class="text-lg font-medium decoration-dashed hover:underline">
          {title}
        </h3>
      )
    }
  </a>
  <TimeDisplay datetime={date} />
  <p>{description}</p>
</li>

<style>
  a {
    @apply text-skin-accent;
  }
</style>
