---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

export const LINKBUTTON_CTA_CLASS = "cta";

const { href, className, ariaLabel, title, disabled = false } = Astro.props;
---

<a
  type="button"
  href={disabled ? "#" : href}
  tabindex={disabled ? "-1" : "0"}
  class={`group ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }

  a.cta {
    @apply px-6 py-3 text-xl font-semibold border-2 border-skin-accent bg-skin-accent text-skin-fill mx-2 rounded-lg;
  }

  a.cta:hover {
    @apply bg-skin-fill text-skin-accent;
  }
</style>
