---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/tags/${name.toLowerCase()}/`}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
  >
    <i class="i-ph-hash"></i>
    <span>{name.toLowerCase()}</span>
  </a>
</li>

<style>
  a {
    @apply relative hover:-top-0.5 hover:text-skin-accent focus-visible:p-1;
  }
  a i {
    @apply -mr-1 h-6 w-6 opacity-80;
  }
</style>
