---
---

<a
  target="_blank"
  href="/rss.xml"
  class="rss-link"
  aria-label="rss feed"
  title="RSS Feed"
>
  <i class="i-ph-rss text-xl"></i>

  RSS feed
</a>

<style>
  .rss-link {
    @apply text-skin-accent-base;
  }

  .rss-link i {
    @apply h-6 w-6 mb-1;
  }
</style>
