---
import LinkButton from "@components/LinkButton.astro";
import PostsList from "@components/posts/PostsList.astro";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: (CollectionEntry<"blog"> | CollectionEntry<"externalPosts">)[];
}

const { pageNum, totalPages, posts } = Astro.props;

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";
---

<BaseLayout
  title="Blog"
  description="Read my thoughts on various tech-related topics."
  activeNav="blog"
  breadcrumbs={false}
>
  <PostsList posts={posts} />

  {
    totalPages > 1 && (
      <nav class="pagination-wrapper" aria-label="Pagination">
        <LinkButton
          disabled={prev === "disabled"}
          href={`/blog${pageNum - 1 !== 1 ? "/" + (pageNum - 1) : ""}`}
          className={`mr-4 select-none ${prev}`}
          ariaLabel="Previous"
        >
          <i class="icon i-ph-arrow-left" />
          Prev
        </LinkButton>
        <LinkButton
          disabled={next === "disabled"}
          href={`/blog/${pageNum + 1}`}
          className={`ml-4 select-none ${next}`}
          ariaLabel="Next"
        >
          Next
          <i class="icon i-ph-arrow-right" />
        </LinkButton>
      </nav>
    )
  }

  <!-- <Footer noMarginTop={totalPages > 1} /> -->
</BaseLayout>

<style>
  .pagination-wrapper {
    @apply mt-auto mb-8 flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }

  .pagination-wrapper i.icon {
    @apply mb-1;
  }
</style>
