---
import type { ActiveNavValues } from "@components/sections/Header.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
	frontmatter: {
		title: string;
		id?: string;
		description?: string;
		breadcrumbs?: boolean;
		activeNav?: ActiveNavValues;
	};
}

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  breadcrumbs={frontmatter.breadcrumbs}
  activeNav={frontmatter.activeNav}
>
  <section class="prose max-w-5xl">
    <slot />
  </section>
</BaseLayout>
